--color-primary: #252525;      /* Nero */
--color-secondary: #E6E6E6;    /* Placebo */
--color-bg: #FFFFFF;
--color-text: #252525;

--color-nav-bg: #252525;

--color-cta: #B0CEE2;          /* Pale Cornflower */
--color-cta-border: #45586C;   /* Dusk */

--color-cta-hover: #E95D2C;    /* Shocking Orange */
--color-cta-hover-border: #A63E1B;

--color-accent: #E95D2C;
